<div id="<%= dom_id movie %>" style="border: 1px solid black; margin-bottom: 20px" class="container">
  <p>
    <strong>Title:</strong>
    <%= link_to movie.title, movie_path(movie.id) %>
  </p>

  <p>
    <strong>Audience score:</strong>
    <%= movie.audience_score %>
  </p>

  <p>
    <strong>Rotten Tomatoes score:</strong>
    <%= movie.rt_score %>
  </p>

  <p>
    <strong>Profitability:</strong>
    <%= movie.profitability.round(2) %>
  </p>

  <p>
    <strong>Gross:</strong>
    $<%= movie.gross %> million
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie.year %>
  </p>
</div>
